name: CI
on:
  - push
  - pull_request
jobs:
  build:
    name: Lint Test and Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: "18"
      - run: yarn install
      - run: yarn eslint
      - run: yarn test
      - run: yarn build